.carousel {
  position: relative;
  overflow: hidden;

  
}

  
  .slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;

  }
  
  .slide {
    flex: 1;
    height: 300px;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .slide.active {
    opacity: 1;
  }
  
  .slide.active ~ .slide {
    transform: translateX(-100%);
  }
  
  .indicators {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
  }
  
  .indicator {
    height: 10px;
    width: 20px;
    border-radius: 50%;
    margin: 0 5px;
    background-color: #ddd;
    cursor: pointer;
  }
  
  .indicator.active {
    background-color: #555;
  }
  
  .img {
    width: 100%; 
    height: 100%; 
    margin-top: 0;
    padding-top: 0;
}

/* HomeCarousel.css */
.carousel-item {
  position: relative;
  text-align: center;
  padding-top: 2;
}

.carousel-image {
  width: 100%;
  height: 120%;
  display: block;
  top: -10%;
}

.carousel-text {
  position: absolute;
  top: 38%;
  left: 72%; 
  transform: translate(-50%, -50%);
  color: white; /* Couleur du texte */
  font-size: 42px; /* Taille du texte */
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Ombre pour rendre le texte lisible */
  text-align: justify;
  padding-right: 1%;
  width:48%;
}
